/** @format */

.find-icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i {
  font-size: 35px;
}

.find-icons__icon span {
  margin-top: 18px;
}

.recommended-friends {
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--gray);
}
.recommended-friends span {
  margin: 100px;
  display: block;
  text-align: center;
  font-size: 16px;
  color: var(--gray);
}
