/** @format */
.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  margin-top: 30px;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 20px;
}
